<h1>Sanity Check</h1>

<div class="form">
  <form action="/myrestaurants" method="post">
    <select name="restaurant">
      {{#each restaurants}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </form>
</div>
<a href="/delete"><button type="button">Delete Restaurant</button></a>
<a href="/home"><button type="button">Back</button></a>
